@using Blazorise

<Modal @ref="modalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>@Title</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>@ContentLine1</FieldLabel>
            </Field>
            <Field>
                <FieldLabel>@ContentLine2</FieldLabel>
            </Field>
        </ModalBody>
        <ModalFooter>
            @if (DispType == EnumDispType.Confirm)
            {
                <Button Color="Color.Primary" Clicked="@(e => HideModal("確認"))">確認</Button>
            }
            @if (DispType == EnumDispType.YesOrNo)
            {
                <Button Color="Color.Secondary" Clicked="@(e => HideModal("はい"))">はい</Button>
                <Button Color="Color.Primary" Clicked="@(e => HideModal("いいえ"))">いいえ</Button>
            }
        </ModalFooter>
    </ModalContent>
</Modal>

@code
{

    public enum EnumDispType
    {
        Confirm = 0,
        YesOrNo = 1
    }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string ContentLine1 { get; set; }
    [Parameter]
    public string ContentLine2 { get; set; }
    [Parameter]
    public bool IsShow
    {
        get => _isShow;
        set
        {
            _isShow = value;
            if (value)
            {

                modalRef.Show();
            }
        }
    }
    [Parameter]
    public EventCallback<bool> IsShowChanged { get; set; }
    [Parameter]
    public EventCallback<string> OnHide{ get; set; }
    [Parameter]
    public EnumDispType DispType { get; set; }

    private Modal modalRef;
    private bool _isShow = false;

    private async void HideModal(string ButtonText)
    {
        modalRef.Hide();
        _isShow = false;
        await OnHide.InvokeAsync(ButtonText);
    }

    public class DialogContent
    {
        public string Title { get; set; }
        public string ContentLine1 { get; set; }
        public string ContentLine2 { get; set; }
        public bool IsShow { get; set; }

        public void Initialize()
        {
            Title = "";
            ContentLine1 = "";
            ContentLine2 = "";
            IsShow = false;
        }
    }
}
