@page "/user"
@inherits vsWork.Shared.BasePage

<vsWork.Components.Dialog Title=@dialogContent.Title
                          ContentLine1=@dialogContent.ContentLine1
                          ContentLine2=@dialogContent.ContentLine2
                          @bind-IsShow=@dialogContent.IsShow
                          OnHide="@OnHideDialog"
                          DispType="@vsWork.Components.Dialog.EnumDispType.YesOrNo" />
<DataGrid TItem="User"
          Data="@userList"
          @bind-SelectedRow="@selectedUser">
    <DataGridColumn TItem="User" Field="@nameof(User.UserId)" Caption="ユーザーID" Sortable="false" />
    <DataGridColumn TItem="User" Field="@nameof(User.UserName)" Caption="ユーザー名称" Editable="true" />
</DataGrid>
<Button Color="Color.Primary" @onclick="OnClickAdd">新規登録</Button>
<Button Color="Color.Secondary" Disabled="@(selectedUser==null)" @onclick="OnClickUpdate">更新</Button>
<Button Color="Color.Danger" Disabled="@(selectedUser==null)" @onclick="OnClickDelete">削除</Button>

@code {
    [Inject]
    private IRepository<User, string> userRepository { get; set; }


    private List<User> userList = new List<User>();
    private User selectedUser;
    private Task dialogTask;

    private vsWork.Components.Dialog.DialogContent dialogContent = new Components.Dialog.DialogContent();

    protected override Task OnInitializedAsync()
    {
        userList = new List<User>(userRepository.FindAll());
        return base.OnInitializedAsync();
    }
    private void OnClickAdd()
    {
        Navigation.NavigateTo("userSetting");
    }
    private void OnClickUpdate()
    {
        Navigation.NavigateTo("userSetting");
    }
    private void OnClickDelete()
    {
        dialogTask = new Task(() =>
        {
            userRepository.Remove(selectedUser.UserId);
            userList = new List<User>(userRepository.FindAll());
            selectedUser = null;
            InvokeAsync(StateHasChanged);
        });

        dialogContent.Initialize();
        dialogContent.Title = "削除確認";
        dialogContent.ContentLine1 = selectedUser.UserId + "を削除しますか？";
        dialogContent.IsShow = true;
    }
    private void OnHideDialog(string ButtonText)
    {
        if (ButtonText == "はい")
        {
            dialogTask.Start();
        }
        dialogTask = null;
        dialogContent.Initialize();
    }
}
